:root {
  /* Light theme */
  --text-c: #374151 !default;
  --text-c-1: #606060 !default;

  /* Dark theme */
  --dark-bg-c: #1e1e20 !default;
  --dark-main-bg-c: #1e1e20 !default;
  --dark-text-c: #e1e1e1 !default;
  --dark-text-c-1: #c1c1c1 !default;
}

html.dark {
  --bg-c: var(--dark-main-bg-c) !important;
  --main-bg-c: var(--dark-main-bg-c) !important;
  --text-c: var(--dark-text-c) !important;
  --text-c-1: var(--dark-text-c-1) !important;
}
